In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('data/heart.csv')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  306 non-null    int64
 1   Age         306 non-null    int64
 2   Sex         306 non-null    int64
 3   ChestPain   306 non-null    object
 4   RestBP      306 non-null    int64
 5   Chol        306 non-null    int64
 6   Fbs         306 non-null    int64
 7   RestECG     306 non-null    int64
 8   MaxHR       306 non-null    int64
 9   ExAng       306 non-null    int64
 10  Oldpeak     306 non-null    float64
 11  Slope       306 non-null    int64
 12  Ca          302 non-null    float64
 13  Thal        304 non-null    object
 14  AHD         306 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 36.0+ KB

In [5]:
def outlier(table, column: str):
    column_z = column + 'Z'
    table[column_z] = (table[column] - table[column].mean()) / table[column].std()

    index = data[ data[column_z] > 4].index
    data.drop(index, inplace = True)
    index = data[ data[column_z] < -4].index
    data.drop(index, inplace = True)

    data.drop(columns = column_z, inplace = True)
    return

In [6]:
outlier(data, 'Age')
data.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,305.000000,301.000000
mean,153.003279,54.377049,0.678689,139.232787,246.770492,0.147541,0.990164,150.560656,0.324590,1.107541,1.603279,0.667774
std,88.195823,9.041141,0.467748,133.563341,51.879603,0.355227,0.995005,25.632469,0.468991,1.634811,0.615044,0.935908
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,77.000000,47.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000
50%,153.000000,55.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,229.000000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,167.000000,1.000000,1.600000,2.000000,1.000000
max,306.000000,77.000000,1.000000,2444.000000,564.000000,1.000000,2.000000,293.000000,1.000000,21.200000,3.000000,3.000000