In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('data/heart.csv')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  306 non-null    int64
 1   Age         306 non-null    int64
 2   Sex         306 non-null    int64
 3   ChestPain   306 non-null    object
 4   RestBP      306 non-null    int64
 5   Chol        306 non-null    int64
 6   Fbs         306 non-null    int64
 7   RestECG     306 non-null    int64
 8   MaxHR       306 non-null    int64
 9   ExAng       306 non-null    int64
 10  Oldpeak     306 non-null    float64
 11  Slope       306 non-null    int64
 12  Ca          302 non-null    float64
 13  Thal        304 non-null    object
 14  AHD         306 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 36.0+ KB

In [ ]:
data.dropna(inplace = True)

In [4]:
def outlier(table, column: str):
    column_z = column + 'Z'
    table[column_z] = (table[column] - table[column].mean()) / table[column].std()

    index = data[ data[column_z] > 4].index
    data.drop(index, inplace = True)
    index = data[ data[column_z] < -4].index
    data.drop(index, inplace = True)

    data.drop(columns = column_z, inplace = True)
    return

In [5]:
outlier(data, 'Age')
outlier(data, 'Oldpeak')
outlier(data, 'MaxHR')
outlier(data, 'RestBP')
outlier(data, 'Chol')
data.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,301.00000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,297.000000
mean,152.61794,54.428571,0.684385,131.634551,247.059801,0.149502,0.990033,149.594684,0.328904,1.020598,1.594684,0.666667
std,87.53211,9.054596,0.465534,17.569462,51.703350,0.357176,0.994937,22.944466,0.470597,1.125570,0.612513,0.929981
min,1.00000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,77.00000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000
50%,153.00000,56.000000,1.000000,130.000000,242.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,228.00000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.00000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,5.600000,3.000000,3.000000

In [ ]:
plt.rcParams['figure.figsize'] = (15, 15)
sns.pairplot(data.drop(columns='Unnamed: 0'))

In [ ]:
data['Age'] = (data['Age'] - data['Age'].min()) / (data['Age'].max() - data['Age'].min())
data['RestBP'] = (data['RestBP'] - data['RestBP'].min()) / (data['RestBP'].max() - data['RestBP'].min())
data['Chol'] = (data['Chol'] - data['Chol'].min()) / (data['Chol'].max() - data['Chol'].min())
data['MaxHR'] = (data['MaxHR'] - data['MaxHR'].min()) / (data['MaxHR'].max() - data['MaxHR'].min())

data.describe()

In [ ]:
AHD_dict = {AHD:i for i,AHD in enumerate(data['AHD'].unique())}

def encode_ahd(AHD):
  return AHD_dict[AHD]

data['AHD'] = data['AHD'].apply(encode_ahd)

In [ ]:
Thal_dict = {Thal:i for i,Thal in enumerate(data['Thal'].unique())}

def encode_Thal(Thal):
  return Thal_dict[Thal]

data['Thal'] = data['Thal'].apply(encode_Thal)
data = pd.concat([data, pd.get_dummies(data['Thal'], prefix = 'Thal')], axis = 1)
data.drop('Thal', axis = 1, inplace = True)

data.head()

In [ ]:
Pain_dict = {ChestPain:i for i,ChestPain in enumerate(data['ChestPain'].unique())}

def encode_ChestPain(ChestPain):
  return Pain_dict[ChestPain]

data['ChestPain'] = data['ChestPain'].apply(encode_ChestPain)
data = pd.concat([data, pd.get_dummies(data['ChestPain'], prefix = 'ChestPain')], axis = 1)

data.drop('ChestPain', axis = 1, inplace = True)

data.head()